body {
    font-family: Arial, sans-serif;
    background-color: #f20000;
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #66ff00;
}

h2 {
    color: #00598d
}

p {
    font-family: Trebuchet MS;
    font-size: 18px;
}

p1 {

}